.hover-text {
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  /* padding: 5px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="range"] {
  width: 80%;
  padding: 12px 0px;
  border: 0px;
}

.slider-info {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.react-daterange-picker {
  height: 40px;
  font-size: 14px;
}

.react-daterange-picker__wrapper {
  width: 200px;
  border: 0;
}

.react-daterange-picker__inputGroup {
  min-width: 0px;
  text-align: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rc-slider {
  width: 95%;
  margin: 10px 0;
}

.rc-slider-handle {
  z-index: 0;
  opacity: 1;
  width: 20px;
  height: 20px;
  margin: -7px 0;
}
